@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.spinner {
  position: absolute;
  top: 40%;
  left: 45%;
  max-width: 200px;
  max-height: 200px;
  animation: spin 4s linear infinite;
}